/* div{
   
    padding: 20px;
    width: 20%;
    height: 20px;
    background-image: linear-gradient(cyan, black);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
section{
    
    width: 30%;
    display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 15px;
column-gap: -20px;
padding: 100px;
background-color: white;

} */


.container{
    width: 100%;
    height: 100vh;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background:linear-gradient(cyan, blue, black, white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px black;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    box-shadow: 10px 10px 10px 2px black;
}

form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    background-color: transparent;
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    color: white;
}